body {
  font-family: "Mate SC", serif;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(6, 22, 87);
  background: url("sunset.jpg") no-repeat center center/cover;
  opacity: 1;
}

.footer {
  width: 42%;
  height: 40%;
}
.component {
  width: 44%;
  height: 40%;
  background: linear-gradient(
    178deg,
    rgba(233, 235, 236, 0.51) 14.9%,
    rgba(178, 191, 196, 0.73) 80%
  );
  padding: 20px;
  border-radius: 7px 7px;
  box-shadow: 0 4px 8px 0 rgba(87, 86, 86, 0.2),
    0 6px 20px 0 rgba(60, 58, 58, 0.19);
  transition: all 0.3s ease-in-out;
}

.component:hover {
  box-shadow: -3px 3px 9px 0px #838383;
}

.search {
  box-shadow: 0 4px 8px 0 rgba(11, 43, 173, 0.32),
    0 6px 20px 0 rgba(9, 22, 74, 0.3);
  border-radius: 7px 7px;
}

.btn {
  margin-left: 15px;
  background-color: rgb(6, 22, 87);
  border-color: rgb(6, 22, 87);
  box-shadow: 0 4px 8px 0 rgba(11, 43, 173, 0.1),
    0 6px 20px 0 rgba(9, 22, 74, 0.5);
  border-radius: 7px 7px;
}

#invalidmsg {
  font-size: small;
  color: rgb(237, 32, 32);
  font-weight: 800;
  margin-top: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
}

li:first-letter {
  text-transform: capitalize;
}

#city {
  font-size: 2rem;
}

.row {
  margin: 10px 0px;
  padding: 0px;
}

.summary {
  /*background-color: aquamarine;
    */
  margin: 10px 0px;
  padding: 0px;
}

.detail1 {
  padding: 0px;
  margin: 0px;
}

#description {
  text-transform: capitalize;
}

#icon {
  position: relative;
  right: 10px;
  bottom: 20px;
  height: 5em;
  width: 5em;
}

#temperatureValue {
  font-size: 4em;
  line-height: 1;
  position: relative;
  bottom: 10px;
}

.units {
  vertical-align: 2em;
  font-size: 1em;
  line-height: 1;
}

.footer span {
  color: rgb(52, 51, 55);
  font-weight: 500;
}

i {
  color: rgb(0, 0, 0);
  font-weight: 400;
  text-decoration: underline;
}

a {
  color: rgb(6, 22, 87);
  text-decoration: none;
}
.temperature .active {
  color: rgb(6, 22, 87);
  cursor: default;
  font-weight: bold;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
}

.weather-forecast-temperature-min,
.weather-forecast-day {
  opacity: 0.8
}